body {
    margin: 0;
    padding: 0;
    
}   



.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(/img/Bg_header_invertido.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    

    padding: 0;
    margin: 0;
    border: 0;
}

    .headerInterno{
        width: 100%;
        max-width: 1110px;
        height: 200px;
        padding: 0;
        margin: 0 auto;
        
    }

    .logo {
        float: left;
        margin: 0;
        padding: 0;
        border: 0;
        
    }

    .menu {
        padding: 0 10 ;
        margin: 0;
        float: right;
        line-height: 200px;
        border: 0;
    }

        ul, li, a {
            padding: 0;
            margin: 0;
            border: 0;
            text-decoration: none;
            list-style: none;
            color: white;
            
        }
            a {
                margin-left: 20px;
            }
            a:hover {
                border-bottom: 5px solid #837451;
                transition-duration: 200ms
            }

                a:nth-child(4) {
                    border: 2px solid #f3d692;
                    color: #f3d692;
                    padding: 15px 20px;
                    }
                    a:nth-child(4):hover {
                        background-color: #f3d692;
                        color: black;
                                             
                        }

section {
    padding: 0;
    margin: 0;
    border: 0;
}

.introducao {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
}
    .introducao img {
        width: 80px;
        margin: 0 50px;
        
    }
        .introducao img:nth-child(4){
            transform: rotate(-90deg)
        }